{% extends 'login/base.html.twig' %}

{% block title %}Login Page{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <nav class="navbar" style="background-color: #0F75AD">
        <div class="container">
            <div class="content fs-3">
                <div class="content__container">
                    <p class="content__container__text">
                        Hello
                    </p>
                    <ul class="content__container__list">
                        <li class="content__container__list__item">world !</li>
                        <li class="content__container__list__item">{{ app.user.username }} !</li>
                        <li class="content__container__list__item">admins !</li>
                        <li class="content__container__list__item">everybody !</li>
                    </ul>
                </div>
            </div>
            <div class="d-flex vw-100 justify-content-between align-items-center">
                <div class="d-flex align-items-center text-white"><a class="bi bi-box-arrow-in-left text-white fs-2" href="{{ path('app_logout') }}"></a><span class="mx-2 fs-5">Déconnexion</span></div>
                <div class="d-flex align-items-center text-white"><span class="mx-2 fs-5">Compte</span><a class="bi bi-gear fs-2 text-white mx-1" href="{{ path('app_modify_information_admin') }}"></a></div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}
