{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
    <body style="background: #0F75AD">
        <div class="container new-account">
            <div class="row vh-100 align-items-center justify-content-center">
                <div class="col box box-info overflow-hidden">
                    {{ form_start(modifyInformationForm) }}
                    <div class="text-white text-center mb-4 mt-4 fs-3"><span class="text-decoration-underline" style="text-underline-offset: max(4px)">Informations personnelles</span></div>
                    {% for flash_success in app.flashes('success') %}
                        <div class="text-center mb-3" style="color: #83EA06" role="alert">{{ flash_success }}</div>
                    {% endfor %}
                    <div style="margin-left: -1.2rem" class="error text-danger text-center">{{ form_errors(modifyInformationForm.plainPassword.first) }}</div>
                    <div class="row justify-content-center align-items-center text-white">
                        <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-8 text-center mt-4 mb-4">
                            <div><span class="fs-5">Email:</span><span class="fw-bold"> {{ app.user.emailAddress}}</span></div>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div id="appUsername" class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-8 col-8 text-center text-white">
                            <div><span class="fs-5">Nom d'utilisateur:</span><span class="fw-bold" style="margin-right: 1rem"> {{ app.user.username }}</span><span id="pen_username"><i class="bi bi-pencil-square"></i><i class="bi bi-x-square d-none"></i></span></div>
                        </div>
                        <div id="modifyName" class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-8 col-8">
                            <div id="newName" class="input-container">
                                <input type="text" name="{{ field_name(modifyInformationForm.username) }}" class="input inputUsername" id="username" autocomplete="username" disabled required />
                                <label class="label" for="username">Nouveau</label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center mb-4 mt-4">
                        <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-8 col-8 text-center text-white">
                            <div><span class="fs-5" style="margin-right: 1rem">Modifier mot de passe</span><span id="pen_password"><i class="bi bi-pencil-square 2"></i><i class="bi bi-x-square 2 d-none"></i></span></div>
                        </div>
                    </div>
                    <div id="modifyPassword" class="row collapse justify-content-center">
                        <div id="new-password" class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-8 col-8">
                            <div class="input-container new-password">
                                <input type="password" name="{{ field_name(modifyInformationForm.plainPassword.first) }}" class="input inputPassword" id="password" autocomplete="new-password" disabled required />
                                <label class="label" for="password">Nouveau</label>
                                <span id="eye-password"><i class="bi bi-eye-slash" id="hide_eye"></i><i class="bi bi-eye d-none" id="show_eye"></i></span>
                            </div>
                            <div id="requirements" class="mt-1 mx-1 mb-4 requirementPassword">
                                <p class="requirement" id="length">Minimum 8 caractères</p>
                                <p class="requirement" id="lowercase">Minimum 1 lettre minuscule</p>
                                <p class="requirement" id="uppercase">Minimum 1 lettre majuscule</p>
                                <p class="requirement" id="number">Minimum 1 chiffre</p>
                                <p class="requirement" id="characters">Minimum 1 caratère spécial: #.-?!@$%^&*</p>
                            </div>
                        </div>
                        <div id="new-confirmPassword" class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-8 col-8">
                            <div class="input-container new-confirmPassword">
                                <input type="password" name="{{ field_name(modifyInformationForm.plainPassword.second) }}" class="input inputConfirmPassword" id="confirmPassword" autocomplete="new-password" disabled required />
                                <label class="label" for="confirmPassword">Confirmer</label>
                                <span id="eye-confirm-password"><i class="bi bi-eye-slash" id="hide_eye2"></i><i class="bi bi-eye d-none" id="show_eye2"></i></span>
                            </div>
                            <div class="mt-1 mx-1">
                                <p class="requirement hidden error" id="match">Les mots de passe sont différents</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center rowModify mb-1">
                        <button id="submit" class="submitModify text-center col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3">MODIFIER</button>
                        <div class="lien text-center">
                            <a href="{{ path('app_home') }}" class="text-white text-decoration-none" ><span id="lien" class="underline">Retour page d'accueil</span></a>
                        </div>
                    </div>
                    {{ form_end(modifyInformationForm) }}
                </div>
            </div>
        </div>
    </body>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('account') }}
{% endblock %}
